@use "./variables";

.about-me {
    display: flex;
    margin: 100px 0;
    justify-content: space-evenly;
    .text-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    #about-me-bio {
        color: variables.$header-colour;
        font-style: italic;
    }
    .img-container {
        width: 30%;
        padding-top: 34px;
    }
    a {
        color: variables.$header-colour;
    }
    img {
        border-radius: 15px;
        box-shadow: 10px 10px 15px variables.$box-shadow-color;
    }
    p{
        margin-bottom: 0px;
    }
    button {
        width: 28%;
        margin: 10px auto;
    }
}

// Effects & Animation

.about-me img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


