// Font Families:

$header-font: 'VT323', monospace;

$body-font: 'Open Sans', sans-serif;


// Font Sizes:

$base-font-size: 1rem;

// Colours:

$header-colour: #e5989b;

$body-colour:  #fffbff;

$sub-heading-colour: #e5989b;

$box-shadow-color: #b5838d;

$text-color: #6d6875;




